 #custom-search-input {
  background: #e8e6e7 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 100px;
   margin-top: 0;
    width: 100%;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 380px;
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}

.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat-body2 p {
  background: #4466a7 none repeat scroll 0 0;
  padding: 10px;
}

.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover,.member_list li.active {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
.label-info {
    background-color: #337ab7;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.control-label{
    font-weight: lighter;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.form-control.force {
    border: 1px solid #c8d1d3 !important;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #51d17d;
    color: #fff;
    border:  none;
    border-radius: .5rem;
    padding: .35rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 2px solid #51d17d;
}

.selectize-control.multi .selectize-input > div.active {
    background: #fff;
    color: #51d17d;
    border: 2px solid #51d17d;
}

.selectize-input{
    height: 4.2rem;
    border-radius: .23rem;
}

.participant-box{
    background: #fff;
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.participant-box > .btnDelParner:hover{
    color: rgb(214, 48, 48);
    cursor: pointer;
}

.participant-box > .photo{
    background: darkorange;
    color: #fff;
    width: 4rem;
    height: 4rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1rem;
    border-radius: 50%;
    font-size: 1.8rem;
    margin-right: .85rem;
    font-weight: lighter;
}

.dropOptionsProject-li{
    list-style: none;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.iconPrjOp{
    font-size: 2.5rem;
    color: #29c75f;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

.taskBoxListBtnDel{
    background-color: rgba(238, 238, 238, 0.7) !important;
    border-top: solid .2rem #cccbcb !important;
    border-bottom: solid .2rem #cccbcb !important;
    border-right: solid .2rem #cccbcb !important;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: #808080;
}

.taskBoxListBtnDel:hover{
    transition: .4s;
    background-color: rgba(255, 178, 178, 0.7) !important;
}

.prjUlOptions > li, .prjUlOptions > li > label {
    cursor: pointer;
}

.prjUlOptions > li > label {
    color: #29c75f;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
}

#selectRoleToChange{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    box-shadow: none;
    padding: 0;
}

.iconPrjOp{
    font-size: 1.5rem !important;
}
.chat-left{
    margin-right: 50px;
    margin-left: 1px;
    background:#5873cb!important; color:#fff;
}
#talkbubble {
   background: #fbf9fa;
   height: 4rem;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-right: 6px solid #fbf9fa;
   border-bottom: 10px solid transparent;
}
#talkbubble2 {
   background: #4258a0;
   height: 3.8rem;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble2:before {
   content:"";
   position: absolute;
   left: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-left: 6px solid #4258a0;
   border-bottom: 10px solid transparent;
}
