{% extends 'master' %}

{% block content %}
<header>

        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar ps-container ps-theme-default ps-active-y" data-ps-id="678b4215-d9db-7107-58ee-a15834353c7d" style="transform: translateX(-100%);">
            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light waves-effect waves-light">
                    <a href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>
                </div>
            </li>
            <!--/. Logo -->
            <!--Search Form-->
            <li>
                <form class="search-form" role="search">
                    <div class="form-group waves-light waves-effect waves-light">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li>
            <!--/.Search Form-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-home"></i> Homepages<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            <li><a href="Blog-Homepage-1.html" class="waves-effect">Blog Homepage V.1</a>
                            </li>
                            <li><a href="Blog-Homepage-2.html" class="waves-effect">Blog Homepage V.2</a>
                            </li>
                            <li><a href="Blog-Homepage-3.html" class="waves-effect">Blog Homepage V.3</a>
                            </li>
                            <li><a href="Blog-Homepage-4.html" class="waves-effect">Blog Homepage V.4</a>
                            </li>
                            <li><a href="Blog-Homepage-5.html" class="waves-effect">Blog Homepage V.5</a>
                            </li>
                            <li><a href="Blog-Homepage-6.html" class="waves-effect">Blog Homepage V.6</a>
                            </li>
                            <li><a href="Blog-Homepage-7.html" class="waves-effect">Blog Homepage V.7</a>
                            </li>
                            <li><a href="Blog-Homepage-8.html" class="waves-effect">Blog Homepage V.8</a>
                            </li>
                            <li><a href="Blog-Homepage-9.html" class="waves-effect">Blog Homepage V.9</a>
                            </li>
                            <li><a href="Blog-Homepage-10.html" class="waves-effect">Blog Homepage V.10</a>
                            </li>
                            <li><a href="Blog-Homepage-11.html" class="waves-effect">Blog Homepage V.11</a>
                            </li>
                        </ul>
                    </div>
                </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-pencil"></i> Post Pages<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li><a href="Blog-Post-Page-1.html" class="waves-effect">Blog Post Page V.1</a>
                                </li>
                                <li><a href="Blog-Post-Page-2.html" class="waves-effect">Blog Post Page V.2</a>
                                </li>
                                <li><a href="Blog-Post-Page-3.html" class="waves-effect">Blog Post Page V.3</a>
                                </li>
                                <li><a href="Blog-Post-Page-4.html" class="waves-effect">Blog Post Page V.4</a>
                                </li>
                                <li><a href="Blog-Post-Page-5.html" class="waves-effect">Blog Post Page V.5</a>
                                </li>
                                <li><a href="Blog-Post-Page-6.html" class="waves-effect">Blog Post Page V.6</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-heart-o"></i> Author Pages<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li><a href="Blog-Author-Page-1.html" class="waves-effect">Blog Author Page V.1</a>
                                </li>
                                <li><a href="Blog-Author-Page-2.html" class="waves-effect">Blog Author Page V.2</a>
                                </li>
                                <li><a href="Blog-Author-Page-3.html" class="waves-effect">Blog Author Page V.3</a>
                                </li>
                                <li><a href="Blog-Author-Page-4.html" class="waves-effect">Blog Author Page V.4</a>
                                </li>
                                <li><a href="Blog-Author-Page-5.html" class="waves-effect">Blog Author Page V.5</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-coffee"></i> Category Pages<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li><a href="Blog-Category-Page-1.html" class="waves-effect">Blog Category Page V.1</a>
                                </li>
                                <li><a href="Blog-Category-Page-2.html" class="waves-effect">Blog Category Page V.2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://mdbootstrap.com/newsletter/" class="collapsible-header waves-effect"><i class="fa fa-newspaper-o"></i> Newsletter</a></li>
                    <li><a href="https://mdbootstrap.com/bootstrap-tutorial/" class="collapsible-header waves-effect"><i class="fa fa-book"></i> Tutorials</a></li>
                    <li><a href="https://mdbootstrap.com/product/blog-theme/" class="collapsible-header waves-effect"><i class="fa fa-diamond"></i> Buy Now</a></li>
                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 624px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 219px;"></div></div></ul>
        <!--/. Sidebar navigation -->

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>{{today()}}</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#modal-contact"><i class="fa fa-envelope"></i><span class="hidden-sm-down"> Contact</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-snapchat-ghost"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->

        <!--Modal Contact-->
        <div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Write to us</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <p>We like to receive a messages.</p>
                        <br>
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="form22" class="form-control">
                            <label for="form42">Your name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-tag prefix"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Subject</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea type="text" id="form8" class="md-textarea"></textarea>
                            <label for="form8">Message</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-rounded btn-primary waves-effect waves-light">Submit</button>

                            <div class="call">
                                <p>Or would you prefer to call? <span class="cf-phone"><i class="fa fa-phone"></i>+01 234 565 280</span></p>
                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default waves-effect waves-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!--/Content-->
            </div>
        </div>
        <!--/Modal contact-->

    </header>
    <main>

        <div class="container">

            <!--Blog-->
            <div class="row mt-1">
                <!--Main listing-->
                <div class="col-lg-8">

                    <!--Section: Post-->
                    <section class="section section-blog-fw">

                        <!--First row-->
                        <div class="row">

                            <div class="col-md-12">

                                <!--Featured image-->
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(107).jpg" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                                <!--Post data-->
                                <div class="jumbotron wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                    <h2>Six amazing months on Madagascar</h2>
                                    <p>Written by <a href="#!" class="black-text">Martha Barnett</a> on 25/08/2016</p>

                                    <!--Social shares-->
                                    <div class="social-counters">

                                        <!--Facebook-->
                                        <a class="btn btn-fb waves-effect waves-light">
                                            <i class="fa fa-facebook left"></i>
                                            <span class="hidden-md-down ">Facebook</span>
                                        </a>
                                        <span class="counter">98</span>

                                        <!--Twitter-->
                                        <a class="btn btn-tw waves-effect waves-light">
                                            <i class="fa fa-twitter left"></i>
                                            <span class="hidden-md-down">Twitter</span>
                                        </a>
                                        <span class="counter">75</span>

                                        <!--Google+-->
                                        <a class="btn btn-gplus waves-effect waves-light">
                                            <i class="fa fa-google-plus left"></i>
                                            <span class="hidden-md-down">Google+</span>
                                        </a>
                                        <span class="counter">87</span>

                                        <!--Comments-->
                                        <a class="btn btn-mdb waves-effect waves-light">
                                            <i class="fa fa-comments-o left"></i>
                                            <span class="hidden-md-down">Comments</span>
                                        </a>
                                        <span class="counter">149</span>

                                    </div>
                                    <!--/.Social shares-->

                                </div>
                                <!--/Post data-->

                                <!--Post text-->
                                <div class="post-text wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad autem vel eum iure reprehenderit qui in ea minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>

                                    <!--Pictures in post-->
                                    <div class="post-pictures">

                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(92).jpg">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(96).jpg">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(94).jpg">

                                    </div>
                                    <!--/.Pictures in post-->

                                </div>
                                <!--/Post text-->

                                <hr class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                                <div class="text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                    <h3 class="h3-responsive">Do you want to share?</h3>
                                    <!--Facebook-->
                                    <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                                    <!--Twitter-->
                                    <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
                                    <!--Google +-->
                                    <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
                                </div>

                            </div>

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/.Section: Post-->

                    <!--Section: About author-->
                    <section class="mb-4 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <!--Author box-->
                        <div class="author-box blog-author-box">

                            <div class="row">

                                <!--Avatar-->
                                <div class="col-sm-3 col-12">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="img-fluid rounded-circle z-depth-2">
                                </div>

                                <!--Author Data-->
                                <div class=" col-12 col-sm-9">

                                    <h4><strong>Martha Barnett</strong></h4>

                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elised diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam voluptua. At vero eos et accusam.</p>
                                </div>

                            </div>
                        </div>
                        <!--/.Author box-->
                    </section>
                    <!--/.Section: About author-->

                    <!--Previous and next posts-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-6">

                                <!--Prev post-->
                                <div class="prev-next-post">

                                    <a href="#!" class="waves-effect waves-light">

                                        <!--Image-->
                                        <img src="https://mdbootstrap.com/img/Photos/Others/mini%20(1).jpg">

                                        <!--Mask-->
                                        <div class="overlay">

                                            <!--Title-->
                                            <div class="title-text">
                                                <p><i class="float-left fa fa-angle-left"></i>Admire lions on the savannah</p>
                                            </div>

                                        </div>
                                        <!--/.Mask-->

                                    </a>

                                </div>
                                <!--/.Prev post-->

                            </div>
                            <!--/.First column-->

                            <!--Second column-->
                            <div class="col-md-6">

                                <!--Next post-->
                                <div class="prev-next-post">

                                    <a href="#!" class="waves-effect waves-light">

                                        <!--Image-->
                                        <img src="https://mdbootstrap.com/img/Photos/Others/mini%20(2).jpg">

                                        <!--Mask-->
                                        <div class="overlay">

                                            <!--Title-->
                                            <div class="title-text">
                                                <p><i class="float-right fa fa-angle-right"></i>Paradise on tropical island</p>
                                            </div>

                                        </div>
                                        <!--/.Mask-->

                                    </a>

                                </div>
                                <!--/.Next post-->

                            </div>
                            <!--/.Second column-->

                        </div>
                        <!--First row-->

                    </section>
                    <!--/Previous and next posts-->

                    <!--Related posts-->
                    <section class="related-posts-carousel wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <div class="row">

                            <div class="col-md-12">

                                <h2 class="text-center">you might also like</h2>

                                <!--Carousel Wrapper-->
                                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                        <li data-target="#multi-item-example" data-slide-to="1" class=""></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">

                                        <!--First slide-->
                                        <div class="carousel-item carousel-item-next carousel-item-left">

                                            <div class="col-md-4">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(104).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Autumn flower dress - outfit</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(61).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>My last trip to Paris</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(45).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Monthly car trip around the USA</h5>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <!--/.First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item active carousel-item-left">

                                            <div class="col-md-4">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(8).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Big city life</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Weekend in LA</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20(6).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Change living room with accessories</h5>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <!--/.Second slide-->

                                    </div>
                                    <!--/.Slides-->

                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>

                        </div>

                    </section>
                    <!--/.Related posts-->

                    <!--Section: Comments list-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--Main wrapper-->
                        <div class="comments-list text-left" id="comments-list-post">
                            <div class="section-heading">
                                <h3 class="mt-2 mb-3">Comments <span class="badge blue">3</span></h3>
                            </div>
                        </div>
                        <!--/.Main wrapper-->

                    </section>
                    <!--/Section: Comments list-->

                    <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                    <!--Section: Leave a reply (Logged In User)-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--Leave a reply form-->
                        <div class="reply-form">
                            <ul id="list">

                            </ul>
                            <h1 class="section-heading">Leave a reply </h1>
                            <p class="text-center">(Logged In User)</p>

                            <!--Third row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-12">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
                                </div>
                                <!--/.Image column-->

                                <!--Content column-->
                                <div class="col-sm-10 col-12">
                                    <div class="md-form">
                                        <textarea type="text" id="comment" name="comment" class="md-textarea"></textarea>
                                        <label for="comment" class="">Your message</label>
                                    </div>

                                </div>

                                <div class="text-center">
                                    <button class="btn btn-primary waves-effect waves-light" id="btn-send-comment">Comentar</button>
                                </div>
                                <!--/.Content column-->

                            </div>
                            <!--/.Third row-->
                        </div>
                        <!--/.Leave a reply form-->

                    </section>
                    <!--/Section: Leave a reply (Logged In User)-->

                    <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                    <!--Section: Leave a reply (Not Logged In User)-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--Leave a reply form-->
                        <div class="reply-form">
                            <h1 class="section-heading">Leave a reply </h1>
                            <p class="text-center">(Not Logged In User)</p>

                            <h4>Sign up with: <span>
                                <!--Facebook-->
                            <a type="button" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a>

                            </span> <br><br>or:</h4>

                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form22" class="form-control">
                                <label for="form22">Your name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="form32" class="form-control">
                                <label for="form32">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-home prefix"></i>
                                <input type="text" id="form33" class="form-control">
                                <label for="form33">Your website</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea type="text" id="form18" class="md-textarea"></textarea>
                                <label for="form18">Your message</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary waves-effect waves-light">Submit</button>
                            </div>
                        </div>
                        <!--/.Leave a reply form-->

                    </section>
                    <!--/Section: Leave a reply (Not Logged In User)-->

                </div>
                <!--/Main listing-->

                <!--Sidebar-->
                <div class="col-lg-4">

                    <!--Author card-->
                    <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                        <!--Card-->
                        <div class="card author-card">

                            <!--Background image-->
                            <div class="card-up">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28131%29.jpg" class="img-fluid">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2812%29.jpg" class="img-fluid img-author">
                            </div>

                            <div class="card-block">

                                <!--Name-->
                                <h4 class="card-title"><strong>Martha Barnett</strong></h4>
                                <!--Description-->
                                <p>Hello, I'm Martha. I've 22 years old and my biggest passion is photography. I love travel around the world and take photos of wild animals, landscapes and local people.</p>

                                <!--Dribbble-->
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <!--Instagram-->
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                                <!--Pinterest-->
                                <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a>

                            </div>

                        </div>
                        <!--/Card-->

                    </section>
                    <!--/Author card-->

                    <div class="divider-new wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h3>Popular posts</h3>
                    </div>

                    <!--Popular posts-->
                    <section class="section">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20(34).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 23/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 145</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1"></div>

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(115).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 22/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 128</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1"></div>

                            </div>
                            <!--/Second column-->

                            <!--Third column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/8-col/img%20(98).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 21/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 203</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1 mb-0"></div>

                            </div>
                            <!--/Third column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Popular posts-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Newsletter</h3>
                    </div>

                    <!--Newsletter-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Form without header-->
                                <div class="card">
                                    <div class="card-block">

                                        <!--Header-->
                                        <div class="text-center">
                                            <h3><i class="fa fa-pencil"></i> Subscribe:</h3>
                                            <hr class="mt-2 mb-2">
                                        </div>

                                        <!--Body-->
                                        <p>We'll write rarely, but only the best content.</p>
                                        <br>

                                        <!--Body-->
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
                                            <input type="text" id="form3" class="form-control">
                                            <label for="form3">Your name</label>
                                        </div>

                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <input type="text" id="form2" class="form-control">
                                            <label for="form2">Your email</label>
                                        </div>

                                        <div class="text-center">
                                            <button class="btn btn-default waves-effect waves-light">Send</button>
                                        </div>

                                    </div>
                                </div>
                                <!--/Form without header-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Newsletter-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Recent posts</h3>
                    </div>

                    <!--Section: Recent posts-->
                    <section class="section">

                        <div class="post-border">

                            <!--First row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(41).jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 20/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 215</span>
                                    </div>

                                    <a href="#!" class="text-hover ">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/First row-->

                        </div>

                        <div class="post-border">

                            <!--Second row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(91).jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 19/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 176</span>
                                    </div>

                                    <a href="#!" class="text-hover ">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Second row-->

                        </div>

                        <div class="post-border">

                            <!--Third row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(99).jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 18/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 190</span>
                                    </div>

                                    <a href="#!" class="text-hover ">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Third row-->

                        </div>

                        <div class="post-border">

                            <!--Fourth row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(92).jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 17/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 278</span>
                                    </div>

                                    <a href="#!" class="text-hover ">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Fourth row-->

                        </div>

                        <div class="post-border">

                            <!--Fifth row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(90).jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half ">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 16/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 321</span>
                                    </div>

                                    <a href="#!" class="text-hover ">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Fifth row-->

                        </div>

                    </section>
                    <!--Section: Recent posts-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Featured posts</h3>
                    </div>

                    <!--Featured posts-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Carousel Wrapper-->
                                <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-2" data-slide-to="0" class=""></li>
                                        <li data-target="#carousel-example-2" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-2" data-slide-to="2" class="active"></li>
                                    </ol>
                                    <!--/Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item">
                                            <!--Mask color-->
                                            <div class="view hm-black-light">
                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(93).jpg" class="img-fluid" alt="">
                                                <div class="full-bg-img">
                                                </div>
                                            </div>
                                            <!--Caption-->
                                            <div class="carousel-caption">
                                                <div class="fadeInDown">
                                                    <h3 class="h3-responsive"><a href="#!" class="white-text">Your pet</a></h3>
                                                    <p><a href="#!" class="white-text">Take care of a cat activity.</a></p>
                                                </div>
                                            </div>
                                            <!--Caption-->
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item active carousel-item-left">
                                            <!--Mask color-->
                                            <div class="view hm-black-light">
                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/8-col/img%20(101).jpg" class="img-fluid" alt="">
                                                <div class="full-bg-img">
                                                </div>
                                            </div>
                                            <!--Caption-->
                                            <div class="carousel-caption">
                                                <div class="fadeInDown">
                                                    <h3 class="h3-responsive"><a href="#!" class="white-text">Sea adventure</a></h3>
                                                    <p><a href="#!" class="white-text">Harry's life in Australia.</a></p>
                                                </div>
                                            </div>
                                            <!--Caption-->
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item carousel-item-next carousel-item-left">
                                            <!--Mask color-->
                                            <div class="view hm-black-light">
                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20(35).jpg" class="img-fluid" alt="">
                                                <div class="full-bg-img">
                                                </div>
                                            </div>
                                            <!--Caption-->
                                            <div class="carousel-caption">
                                                <div class="fadeInDown">
                                                    <h3 class="h3-responsive"><a href="#!" class="white-text">Beautiful interiors</a></h3>
                                                    <p><a href="#!" class="white-text">Meet beautiful Italian homes.</a></p>
                                                </div>
                                            </div>
                                            <!--Caption-->
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/Carousel Wrapper-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Featured posts-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3 class="h3-responsive">Archive</h3>
                    </div>

                    <!--Archive-->
                    <section class="archive wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12 text-center">

                                <!--List-->
                                <ul>
                                    <li>
                                        <h5><a href="#!">August 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">July 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">June 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">May 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">April 2016</a></h5>
                                    </li>
                                </ul>
                                <!--List-->

                            </div>
                            <!--First column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Archive-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3 class="h3-responsive">Follow @Martha</h3>
                    </div>

                    <!--Instagram-->
                    <section class="sidebar-imgs wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Instagram Photos-->
                                <ul class="instagram-photos">
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(5).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(3).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(1).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>

                                    <div class="hidden-xs-down no-height"><br></div>

                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(8).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(2).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(7).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>

                                    <div class="hidden-xs-down no-height"><br></div>

                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(6).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(4).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(9).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <!--/Instagram photos -->

                           </div>
                           <!--/First column-->
                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Instagram-->

                </div>
                <!--/Sidebar-->
            </div>
            <!--/Blog-->

        </div>

    </main>
{% endblock %}
{% block js %}
<script src="libs/ws/ws.js" charset="utf-8"></script>
<script src="assets/js/conversacion.js" charset="utf-8"></script>
{% endblock %}
