<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Practica</title>
  <link rel="stylesheet" href="libs/MDB/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <!-- include the style -->
    <link rel="stylesheet" href="libs/alertifyjs/css/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="libs/alertifyjs/css/themes/default.min.css" />
  <link rel="stylesheet" href="assets/chats.css">
  <link rel='stylesheet' href='libs/selectize.js/dist/css/selectize.css'>
</head>
<body>


<div class="col-md-12">
            <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
                    <div class="main_section" id="principal" data-id="{{User.id}}">
                       <div class="container">
                          <div class="row chat_container">
                             <div class="col-md-2 chat_sidebar">
                                 <div class="row">
                                    <div id="custom-search-input">
                                       <small>{{User.username}}</small>
                                       <div class="input-group col-md-12">
                                          <input type="text" class="  search-query form-control" placeholder="Buscar grupo" />
                                          <button class="btn btn-danger" type="button">
                                          <span class=" glyphicon glyphicon-search"></span>
                                          </button>
                                       </div>
                                    </div>
                                    <div class="dropdown all_conversation">
                                       <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           <i class="fa fa-weixin" aria-hidden="true"></i>
                                           Todos los grupos
                                       </button>
                                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    </div>
                                    <div class="member_list">
                                       <ul class="list-unstyled" id="chatList">
                                            <!-- Rooms obtenidos por WS -->
                                       </ul>
                                    </div>
                                </div>
                            </div>
                                 <!--chat_sidebar-->


                            <div class="col-md-9 message_section">
                                <div class="row">
                                    <div class="new_message_head">
                                        <div class="pull-left">
                                            <button data-toggle="modal" data-target="#new-group">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nuevo Grupo
                                            </button>
                                        </div>
                                        <div class="pull-right">
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>  Configuraciones
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" id="configGroup" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" data-action="delete" id="lsit-delete-group">Eliminar grupo</a></li>
                                                    <li><a href="#" data-action="delete" id="lsit-leave-group">Dejar grupo</a></li>
                                                    <li><a href="#" data-action="download" id="download_messages">Descargar mensajes</a></li>
                                                    <li><a href="/logout">Cerrar Sesión</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!--new_message_head-->

                                    <div class="chat_area">
                                        <ul class="list-unstyled" id="message_list">
                                           <h3 style="padding:11rem; padding-top:7rem; color:#747474;">Eliga un grupo</h3>
                                            <!-- Rooms del usuario obtenidos por WS -->
                                        </ul>
                                    </div><!--chat_area-->
                                    <div class="message_write">
                                    <span id="isTyping" style="display:none;">Gerson esta escribiendo...</span>
                                    <textarea class="form-control" placeholder="Escribe un mensaje..." id="message_input"></textarea>
                                    <div class="clearfix"></div>
                                    <h6 class="pull-left" style="margin-top:1rem;" id="title-group"></h6>
                                    <div class="chat_bottom" id="sendMessage">
                                         <a href="#" class="pull-right btn btn-success disabled">
                                             Enviar  <span class="fa fa-arrow-right"></span></a></div>
                                    </div>
                                </div>
                            </div> <!--message_section-->
                        </div>
                    </div>
                </div>
            </div>

      <!---Inicio del modalSmall-->
      <div class="modal fade bs-example-modal-sm" id="new-group" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                 <div class="card">
                      <div class="card-block col-md-12">

                          <!--Header-->
                          <div class="text-center">
                              <h3><i class="fa fa-lock"></i> Nuevo grupo:</h3>
                              <hr class="mt-2 mb-2">
                          </div>

                          <!--Body-->

                          <div class="md-form">
                              <i class="fa fa-users prefix"></i>
                              <label for="nombre">Nombre del grupo</label>
                              <input type="text" id="nombre" name="nombre" class="form-control">
                          </div>
                          <div class="md-form col-md-12">
                               <label class='control-label' for=''>Participantes</label>
                               <div class='input-group col-md-12'>
                                   <div id='select-to' class='col-md-12'></div>
                               </div>
                               <div id='sectionParticipants'></div>
                          </div>

                          <div class="text-center">
                              <button class="btn btn-deep-purple" id="btn-newGroup">Crear grupo</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--Fin del modalSmall--->

  <script type="text/javascript" src="libs/MDB/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="libs/MDB/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/noti.js"></script>
  <script src="libs/alertifyjs/alertify.min.js"></script>
  <script src="libs/ws/ws.js" charset="utf-8"></script>
  <script src='libs/selectize.js/dist/js/standalone/selectize.min.js' charset='utf-8'></script>
  <script src="assets/js/components/groupComponents.js" charset="utf-8"></script>
  <script src="assets/js/socket_cn.js" charset="utf-8"></script>
  <script src="assets/js/grupos.js" charset="utf-8"></script>
  <script src="assets/js/messages.js" charset="utf-8"></script>

  {% block js %}{% endblock %}
</body>
</html>
