<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Practica</title>
  <link rel="stylesheet" href="libs/MDB/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/MDB/css/mdb.min.css">
  <link rel="stylesheet" href="libs/bootstrap-table/bootstrap-table.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  {% block css %}{% endblock %}
</head>
<body class="fixed-sn grey-skin">

  <section>
    <div class="__wrapper">
        {{ csrfField }}
            {% block content %}{% endblock %}

    </div>
  <script type="text/javascript" src="libs/MDB/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="libs/MDB/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="libs/MDB/js/mdb.min.js"></script>
  <script type="text/javascript" src="assets/js/noti.js"></script>
  <script src="assets/js/fillTable.js" charset="utf-8"></script>
  <script src="assets/js/login.js" charset="utf-8"></script>
  {% block js %}{% endblock %}
</body>
</html>
