{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
    <!--Form without header-->

    <div class="card">
      <div class="card-block">
          <!--Header-->
          <div class="text-center">
              <h3><i class="fa fa-lock"></i> Registro:</h3>
              <hr class="mt-2 mb-2">
          </div>

          <!--Body-->

          <div class="md-form">
              <input type="text" id="username" name="username" class="form-control">
              <label for="email">Tu usuario</label>
          </div>

          <div class="md-form">
              <input type="email" id="email" name="email" class="form-control">
              <label for="email">Tu email</label>
          </div>

          <div class="md-form">
              <input type="password" id="password" name="password" class="form-control">
              <label for="pass">Tu contraseña</label>
          </div>

          <div class="text-center">
              <button class="btn btn-deep-purple" id="btn-register">Crear cuenta</button>
          </div>

      </div>

      <!--Footer-->
      <div class="modal-footer">
      </div>

    </div>
  <!--/Form without header-->
    </div>
  </div>
{% endblock %}

{% block js %}
    <script src="assets/js/register.js" charset="utf-8"></script>
{% endblock %}
