{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">

  <div class="row" id="adIn-selection">
    <div class="col-md-12 card" id="adIn-card">
    </div>
  </div>
  <div class="row" >
    <table class="table table-bordered table-hover" id="tb-datos" style="color:white;">
      <thead>
        <th>Nombre</th>
        <th>Apellido peterno</th>
        <th>Apellido materno</th>
        <th>Colonia</th>
      </thead>
      <tbody>

      </tbody>
    </table>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a data-toggle="modal" data-target="#updateModals"  class="btn btn-success btn-block"> Dar de alta</a>
      </div>
    </div>
    <div id="modals"></div>

    <div class='modal fade' id='updateModals' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>"
      <div class='modal-dialog' role='document'>

          <div class='modal-content'>
              <div class='modal-body l'>
                  </div>
                    <div class='col-md-6'>

                    <form class='' >
                      <div class='md-form'>
                        <input type='text' id='name' class='form-control' placeholder="">
                        <label for='name' class="active">Nombre</label>
                      </div>

                      <div class='md-form'>
                        <input type='text' id='apellido-pat' class='form-control' placeholder="">
                        <label for='apellido-pat' class="active">Apellido Paterno</label>
                      </div>

                      <div class='md-form'>
                        <input type='text' id='apellido-mat' class='form-control' placeholder="">
                        <label for='apellido-mat' class="active">Apellido Materno</label>
                      </div>

                      <div class='md-form'>
                        <input type='text' id='calle' class='form-control' placeholder="">
                        <label for='calle' class="active">Calle</label>
                      </div>

                      <div class='md-form'>
                        <input type='text' id='colonia' class='form-control' placeholder="">
                        <label for='colonia' class="active">Colonia</label>
                      </div>

                      <div class='md-form'>
                        <input type'number' id='number' class='form-control' placeholder="">
                        <label for='number' class="active">Número</label>
                      </div>


                      <select class='updAdInselect' id='updAdIn-state'>

                      </select>

                      <div id='updAdInCities-cont'>
                      </div>

                    </div>

                  </form>
              </div>

              <div class='modal-footer'>
                  <button type='button' class='btn btn-outline-danger waves-effect' data-dismiss='modal'><i class='fa fa-reply' aria-hidden='true'></i>&nbsp;Cancelar</button>
                  <button type='button' class='btn btn-primary adIn-color' id='btn-save-client'><i class='fa fa-upload' aria-hidden='true'></i>&nbsp;Guardar</button>
              </div>
          </div>

      </div>
    </div>

  </div>
    </div>
  </div>
{% endblock %}
