{% extends 'master' %}

{% block content %}
  <div class="__banner container">
    <div class="banner__inner">
    <!--Form without header-->
  <div class="card">
      <div class="card-block col-lg-12">

          <!--Header-->
          <div class="text-center">
              <h3><i class="fa fa-lock"></i> Login:</h3>
              <hr class="mt-2 mb-2">
          </div>

          <!--Body-->

          <div class="md-form">
              <input type="text" id="email" name="email" class="form-control">
              <label for="email">Your email</label>
          </div>

          <div class="md-form">
              <input type="password" id="pass" name="pass" class="form-control">
              <label for="pass">Your password</label>
          </div>

          <div class="text-center">
              <button class="btn btn-deep-purple" id="btn-login">Login</button>
          </div>

      </div>

      <!--Footer-->MariaDB
      <div class="modal-footer">
          <div class="options">
              <p>Not a member? <a href="/registro-de-usuario">Sign Up</a></p>
              <p>Forgot <a href="#">Password?</a></p>
          </div>
      </div>

  </div>
  <!--/Form without header-->
    </div>
  </div>
{% endblock %}
